.animation {
  position: fixed;
  top: 17%;
}

.question {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 0%);
}
.answerInput {
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-50%, 0%);
}

.startButton {
  position: fixed;
  top: 80%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.message {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(16px + 2vw);
}

.time {
  position: fixed;
  top: 5%;
  right: 2%;
}
